<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="assets/bus logo.jpg" alt="Logo">
        
    </a>
  
    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="about-page">About Us</a></li>
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">Cancel Ticket</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
         </ul>
    </nav>
  </header>
<div class="ig">
    <div class="forgetpass">
    <form [formGroup]="forgotPassForm" style="width: fit-content;">
        <fieldset>
            <legend>Enter Your EmailId:</legend>
        <div class="form-group">
            <div *ngIf="forgotPassForm.controls.emailId.errors && 
            (forgotPassForm.controls.emailId.touched || forgotPassForm.controls.emailId.dirty)" style="color: red;">
                Email Id is required
            </div>
            <label for="emailId">Email Id</label>
            
                <input class="form-control" type="text" name="emailId" id="emailId" formControlName="emailId">
            <br>
            <input (click)="forgotPass()"  type="submit" value="Submit" class="btn btn-primary" [disabled]="forgotPassForm.invalid">
        </div>
        </fieldset>
    </form>
</div>
<div id="otp" style="display: none;">
    <form [formGroup]="otpForm" style="width: fit-content;">
        <fieldset>
            <label for="Otp">Enter Your Otp sent to mail:</label>
            <input class="form-control" type="text" name="Otp" id="Otp" formControlName="Otp">
            <br>
            <input (click)="otpEnter()" type="submit" value="Submit" class="btn btn-primary" [disabled]="otpForm.invalid">
        </fieldset>
    </form>
</div>
<div id="passId" style="display: none;">
    <form [formGroup]="passForm" (ngSubmit)="newPass()" style="width: fit-content;">
        <fieldset>
            <label for="pass1">Enter Your new Password</label>
            <input class="form-control" type="password" name="pass1" id="pass1" formControlName="pass1">
            <br>
            <label for="pass2">Confirm Your new Password</label>
            <input class="form-control" type="password" name="pass2" id="pass2" formControlName="pass2">
            <br>
            <input type="submit" value="Submit" class="btn btn-primary" [disabled]="passForm.invalid">
        </fieldset>
    </form>
</div>
</div>
