#logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  nav     {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  header   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
  }