<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="./assets/bus logo.jpg" alt="Logo">
        
    </a>
  
    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <!-- <li><a href="about-page">About Us</a></li> -->
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">BuzzWings</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
         </ul>
    </nav>
  </header>
<div class="ig">
    <div class="container">
        <h2>Contact Us</h2>
        <form >
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select your query</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Ticket Booking</option>
                    <option>Returns & Refunds</option>
                    <option>Pay Transactions</option>
                    <option>Account Settings</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <!-- <div class="form-group row">
                    <div class="col-sm-2">Are you a Member?</div>
                    <div class="col-sm-12">
                      <div class="form-check">
                        <label class="form-check-label" for="gridCheck1">
                          Yes
                        </label>&nbsp;
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group row">
                    <div class="col-sm-2">Are you a Member?</div>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                          Yes
                        </label>
                      </div>
                    </div>
                  </div>
    
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Please Elaborate Your Concern</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" (click)="clickHandler()">Submit</button>
        </form>
    </div>
</div>
<div class="image">
    <!-- <footer>
        <p></p>
        <p>Ⓒ2020-2021 BuzzWings All rights reserved</p>
    </footer> -->
    <footer class="container" style = "position:relative; left:5px; top:260px;">
        <p class="float-right"><a href="#">Back to Home-Page</a></p>
        <p>Ⓒ2021-2022 BuzzWings All rights reserved</p>
    </footer>
</div>
<!--form close-->

<!--footer-->

<!--footer-->


