<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="assets/bus logo.jpg" alt="Logo">
        
    </a>
  
    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <!-- <li><a href="about-page">About Us</a></li> -->
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">BuzzWings</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
         </ul>
    </nav>
  </header>
<div class="pic">
    <h1 style="font-size: xx-large; font-weight: bold; color: black; text-align: center;">Welcome to BuzzWings</h1>
    <p style="font-size: medium; text-align: center;">Journeys as great as the destinations</p>
    <div class="form1" id="choice1">
        <form class="form-inline" [formGroup]="searchForm">
            <div class="form-group">
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="From" aria-label="Search" formControlName="from"> -->
                <select class="form-control col mr-sm-2" formControlName="from">
                    <option value="" disabled selected hidden>From</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Madurai">Madurai</option>
                    <option value="Trichy">Trichy</option>
                </select>
            </div>
            <div class="form-group">
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="To" aria-label="Search" formControlName="to"> -->
                <select class="form-control col mr-sm-2 " formControlName="to">
                    <option value="" disabled selected hidden>To</option>
                    <option value="Madurai">Madurai</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Trichy">Trichy</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control mr-sm-2" type="date" placeholder="" aria-label="Search" formControlName="date">
            </div>
            <button (click)="show()" class="btn btn-outline-light my-2 my-sm-0" type="button" data-target="#myModal">Search Buses</button>
        </form>
    </div>
    <div style="display: none; font-size: 20px;" id="choice2">
        Procced <button routerLink="/register-page" class="btn btn-default">With Registration?</button> / <button (click)="search()" class="btn btn-default">Without Registration?</button>&nbsp;<button (click)="show2()" class="btn btn-default">Back to Search</button>
    </div>
</div>

<!--cards open-->
<div class="container my-4">
    <div class="row mb-2">
        <!--Golden Temple-->
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Marina Beach</h3>
                    <div class="mb-1 text-muted">Chennai, TamilNadu</div>
                    <p class="mb-auto">Marina Beach is a natural urban beach in Chennai, Tamil Nadu, India, 
                        along the Bay of Bengal.[1] The beach runs from near Fort St. George in the north to Foreshore Estate in the south,
                         a distance of 6.0 km (3.7 mi),
                         making it the longest natural urban beach in the country.</p>
                    <a href="https://en.wikipedia.org/wiki/Marina_Beach" class="stretched-link">Continue
                        reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../assets/marina.jpg" alt="" width="200" height="295">
                </div>
            </div>
        </div>
        <!--Golden Temple-->

        <!--Taj Mahal-->
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Meenakshi Temple</h3>
                    <div class="mb-1 text-muted">Madurai, TamilNadu</div>
                    <p class="card-text mb-auto">Arulmigu Meenakshi Sundareshwarar Temple is a historic Hindu temple located on the
                         southern bank of the Vaigai River in the temple city of Madurai, Tamil Nadu, India.
                         It is dedicated to the goddess Meenakshi, a form of Parvati, and her consort,</p>
                    <a href="https://en.wikipedia.org/wiki/Meenakshi_Temple,_Madurai" class="stretched-link">Continue
                        reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../assets/4.jpg" width="200" height="295" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--Taj Mahal-->

    <!--Adiyogi-->
    <div class="row mb-2">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Adiyogi</h3>
                    <div class="mb-1 text-muted">Established:- 2017</div>
                    <p class="card-text mb-auto">The Adiyogi statue is a 34-metre-tall, 45-metre-long and
                        25-metre-wide steel statue of the Hindu deity Shiva with Thirunamam at Coimbatore, Tamil
                        Nadu. It is recognized by the Guinness World Records as the "Largest Bust Sculpture” in
                        the world. </p>
                    <a href="https://en.wikipedia.org/wiki/Adiyogi_Shiva_statue" class="stretched-link">Continue
                        reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../assets/6.jpg" width="200" height="295" alt="">
                </div>
            </div>
        </div>
        <!--Adiyogi-->

        <!--Statue of Unity-->
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Pamban Bridge</h3>
                    <div class="mb-1 text-muted">Rameshwaram, TamilNadu</div>
                    <p class="mb-auto">Pamban Bridge is a railway bridge which connects the town of Mandapam in mainland India with Pamban Island, and Rameswaram.
                         Opened on 24 February 1914, it was India's first sea bridge, and was the longest sea bridge in India </p>
                    <a href="https://en.wikipedia.org/wiki/Pamban_Bridge" class="stretched-link">Continue
                        reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../assets/pamban.JPG" alt="" width="200" height="295">
                </div>
            </div>
        </div>
    </div>
    <!--Statue of Unity-->
    <!--cards close-->
</div>

<!--footer-->
<footer class="container">
    <p class="float-right"></p>
    <p>Ⓒ2020-2021 BuzzWings All rights reserved</p>
</footer>
<!--footer-->
