<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="assets/bus logo.jpg" alt="Logo">

    </a>

    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="about-page">About Us</a></li>
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">Cancel Ticket</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
        </ul>
    </nav>
</header>
<!--<div id="ig">
    <div class="container">
    <div class="alert alert-primary" style="margin-top: 50px; background-color: indigo; color: cornsilk;">
        <h3>Passenger Details</h3>
    </div>
    <form [formGroup]="passengerForm" (ngSubmit)="addPassenger()">
    <div class="form-group">
        <div *ngIf="passengerForm.controls.emailId.errors && 
        (passengerForm.controls.emailId.touched || passengerForm.controls.emailId.dirty)" style="color: red;">
            Email Id is required
        </div>
        <label for="emailId">Email Id</label>
        <input class="form-control" type="text" name="emailId" id="emailId" formControlName="emailId">
    </div>
    <div class="form-group">
        <div *ngIf="passengerForm.controls.phoneNo.errors && 
                (passengerForm.controls.phoneNo.touched || passengerForm.controls.phoneNo.dirty)" style="color: red;">
            Phone Number is required
        </div>
        <label for="phoneNo">Phone Number</label>
        <input class="form-control" type="number" name="phoneNo" id="phoneNo" formControlName="phoneNo">
    </div>
    <input type="submit" value="Proceed to payment" class="btn btn-primary" [disabled]="passengerForm.invalid">
    </form>
    </div>
    </div>
    <footer>
        <p></p>
        <p>Ⓒ2020-2021 Safar All rights reserved</p>
    </footer>-->
<marquee style="color: red;font-size: medium;">Disclaimer: For Un-Authorised Ticket Booking there is no provision for
    cancellation. To avail Cancellation you must be a Registered User.</marquee>

    

<div class="ig" style="float: left; width: 55%;">
        <form [formGroup]="passengerForm" (ngSubmit)="addPassenger()">
            <fieldset>
                <legend>Passenger Details</legend>
            <div class="form-group">
                <div *ngIf="passengerForm.controls.emailId.errors && 
                        (passengerForm.controls.emailId.touched || passengerForm.controls.emailId.dirty)"
                    style="color: red;">
                    Email Id is required
                </div>
                <label for="mail">Email:</label>
                <input class="form-control" type="text" name="emailId" id="emailId" placeholder="Email ID"
                    formControlName="emailId">
            </div>
            <div class="form-group">
                <div *ngIf="passengerForm.controls.phoneNo.errors && 
                        (passengerForm.controls.phoneNo.touched || passengerForm.controls.phoneNo.dirty)"
                    style="color: red;">
                    Phone Number is required
                </div>
                <label for="phoneNo">Phone Number</label>
                <input class="form-control" type="number" name="phoneNo" id="phoneNo" placeholder="Phone Number"
                    formControlName="phoneNo">
            </div>
            <input type="submit" value="Proceed" class="btn btn-primary" [disabled]="passengerForm.invalid">&nbsp;&nbsp;
            <input type="submit" routerLink ="/" value="Cancel" class="btn btn-primary">
        

    </fieldset>
</form>
</div>
<div class="ig" style="float: left; width: 45%; padding-top: 5%;">
    <img src="../../assets/bookticket.jpg" alt="Snow" style="width:60%">
</div>