<header>

    
    <!-- our main logo -->
    <a id="logo" href="">
        <img src="assets/bus logo.jpg" alt="Logo">
        
    </a>

    
    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <!-- <li><a href="about-page">About Us</a></li> -->
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">BuzzWings</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
         </ul>
    </nav>
  </header>
  
<!-- <div id="ig">

    <h1 align="center" style="margin-top: 0px; padding: 10px;"> Cancel Your Ticket</h1><br>
    <h3>Enter the following details to cancel your ticket</h3>
   <div class="container" style="margin-left: 300px;">
    <form [formGroup]="cancelTicketForm" (ngSubmit)="cancelTicket()">
        <div class="form-group row">
            <div *ngIf="cancelTicketForm.controls.emailId.errors && 
            (cancelTicketForm.controls.emailId.touched || cancelTicketForm.controls.emailId.dirty)" style="color: red;">
                Email Id is required
            </div>
            <label for="emailId" class="col-sm-2 col-form-label">Email Id</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="emailId" id="emailId" formControlName="emailId">
            </div>
        </div>
        <div class="form-group row">
            <div *ngIf="cancelTicketForm.controls.ticketNo.errors && 
                    (cancelTicketForm.controls.ticketNo.touched || cancelTicketForm.controls.ticketNo.dirty)" style="color: red;">
                Ticket Number is required
            </div>
            <label for="ticketNo" class="col-sm-2 col-form-label">Ticket Number</label>
            <div class="col-sm-6">
            <input class="form-control" type="number" name="ticketNo" id="ticketNo" formControlName="ticketNo" [(ngModel)]="tNo">
        </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="cancelTicketForm.invalid">Submit</button>&nbsp;
        <button routerLink="/" class="btn btn-primary" type="submit">Cancel</button>
        </form>
   </div>    
    

</div>
<footer>
    <p class="float-right"></p>
    <p>Ⓒ2020-2021 Safar All rights reserved</p>
</footer>  -->

<!-- <div style="background-image:linear-gradient(rgba(0,0,0.2,0.2),rgba(0,0,0.3,9)),url(../../assets/backie1.jpg);"></div> -->
<!-- <div class="container">
    <center>
        <h1>About us</h1>
    <div id="q">
        <p style="font-size:30px; font-weight: bold; font-family: 'Lora', Times, serif;">
            Millions of people travel on buses daily in India. 
            Buses are the most important means of transportation for the common man as these provide the close-to-home connectivity. 
            If you want to know about the buses plying on different routes across India, you can opt for BuzzWings. 
        </center>
        </p>
        <p style="font-size:30px; font-weight: bold; font-family: 'Lora', Times, serif;">
           BuzzWings is a platform made by young entrepreneurs.It is basically an online bus ticketing platform that will transform bus travel in the country by bringing ease and convenience to millions of Indians who travel using buses.
        </p>
    </div>
        <footer>
            <p></p>
            <p></p>
        </footer>
    </div>
    <br> --><div class="dj">
    <img src="../../assets/backie1.jpg" alt="" width="1920" height="1080" style=" background-image: linear-gradient(rgba(0,0,0.75));">
</div>
    <div class="container">
      <h1>About Us</h1>
      
        <div id="img">
            <p style="font-size:20px; font-weight: bold; text-align: justify;">
                Millions of people travel on buses daily in India. 
                Buses are the most important means of transportation for the common man as these provide the close-to-home connectivity. 
                If you want to know about the buses plying on different routes across India, you can opt for BuzzWings. 
            </p>
            <p style="font-size:20px; font-weight: bold; text-align: justify;">
               BuzzWings is a platform made by young entrepreneurs.It is basically an online bus ticketing platform that will transform bus travel in the country by bringing ease and convenience to millions of Indians who travel using buses.
            </p>
            <a href=""><button class="btn">Home Page</button> </a>
        </div>
    </div>
