#header{
    background-color: #222;
    padding: 13px;
    color: white;
}

.header a{
    float: right;
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    border-radius: 3px;
    transition: 0.3s ease all;
}
.header a :hover{
    background: #444;
    cursor: pointer;
}
img{
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
}

.img-a
{
    position: relative;
    top: 150px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav li button {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    
    width: 150px;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav li button:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav li {font-size: 18px;}
  }
  
.user-functions{
    padding-top: 0px;
    height: 700px;
    
}
.user-functions button{
    
    border-radius: 12px;
    margin-top: 20px;
}
label{
    width: 100px;
    font-size: 10px;
    border-radius: 12px;
    color: white;
    padding: 5px;
}
.ig{
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
ul{
    list-style: none;
    float: left;
}
footer {
    background-color:  #563d7c;
    padding: 10px;
    text-align: center;
    color: white;
}
.form1{
    padding-top: 50px;
}
.form-control{
    width: 500px;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-row {
    margin-right: 0px;
    margin-left: 0px;
}

.scrollable {
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: fit-content;
  }

.scrollable::-webkit-scrollbar{
    display: none;
}
th{
	background-color: steelblue;
    color: white;
    width: 1200px;
    padding: 5px;
    text-align: center;
   
}
table{
    width: 1200px;
    border-radius: 1px red;
    background-color: antiquewhite;
    
}
td{
    text-align: center;
    padding: 5px;
}
tr:nth-child(odd) { 
    background-color:floralwhite; 
}
fieldset {
    background-color: #eeeeee;
    border-radius: 15px;
    padding-left: 12px;
    padding-top: 12px;
    width: fit-content;
  }
  
  legend {
    background-color: #006666;
    color: white;
    padding: 5px 5px;
    border-radius: 20px;
    width: 100px;
    font-size: 12px;
    margin-left: 12px;
  }