<header>
    <a id="logo" href="home-page">
        <img src="assets/bus logo.jpg" alt="Logo">
        
    </a>
</header>  
<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Payment Success !</h1>
                <p>Thank you !Have a Safe Journey! Navigate to Booking History in Dashboard to check your Ticket and status! </p>
                <a href="dashboard">Go to Home</a>
             </div>
             
          </div>
       </div>
    </div>
 </div>