<!--1-->
<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="./assets/bus logo.jpg" alt="Logo">
        
    </a>
  
    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="about-page">About Us</a></li>
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">Safar</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
         </ul>
    </nav>
  </header>
<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">Chandradipa Nag <span class="text-muted">Team Lead</span></h2>
            <p class="lead">
                The beauty with brains, she's spearheaded this project and made it into what it is today.
                There aren't many flaws that miss her sharp gaze and she strives for perfection in every
                pool she dips her feet in! The journey of 'Safar' would never have begun without her so
                kudos to our team lead!.</p>
        </div>
        <div class="col-md-3 order-md-3">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/cd.jpeg" alt=" ">
        </div>
    </div>
</div>
<!--1-->

<!--2-->
<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Saptarshi Halder <span class="text-muted">Team Member</span></h2>
            <p class="lead">
                If Chandradipa is the brains, then Saptarshi's the brawns, quite literally! His USP is his tunnel vision
                and his ability to achieve whatever he zeroes in on. His indispensable input is the yin to our team
                lead's yang! He's the "raasta" to our Safar and we'll always be cheering him on!</p>
        </div>
        <div class="col-md-3 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/sp.jpg" alt=" ">  
        </div>
    </div>
</div>
<!--2-->

<!--3-->
<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-1">
            <h2 class="featurette-heading">Aparajita Srivastava <span class="text-muted">Team Member</span></h2>
            <p class="lead">As important as the contents of a gift are, so is the gift wrapping. And Aparajita wraps the
                glitter paper and satin bow to the gift that Safar has been for her as well as her three teammates.
                She's here for this 'safar' for the long haul so all the luck to her!</p>
        </div>
        <div class="col-md-3 order-md-3">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/ap.JPG" alt=" ">
            </div>
    </div>
    <!--3-->

    <!--4-->
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Subhodip Chatterjee <span class="text-muted">Team Member</span></h2>
                <p class="lead">
                    They say too many cooks spoil the broth, but in our case, all they do is make the journey more
                    beautiful! Safar would not look as appealing as it does without Subhodip's immaculate taste! He's
                    constantly working towards making Safar a more pleasant experience for the users so hurrah to him!
                </p>
            </div>
            <div class="col-md-3 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/sb.jpg" alt=" ">
            </div>

        </div>
    </div>
    <!--4-->

    <!--footer-->
    <footer class="container">
        <p class="float-right"></p>
        <p>Ⓒ2020-2021 Safar All rights reserved</p>
    </footer>