#search-bus{
	margin-top: 2%;
	margin-bottom: 10%;
}	
th{
	background-color: black;
	color: white;
}
.detail{
    padding-right: 100px;
  }
  #ticket-details{
      width:600px;
      margin: auto;
      margin-top:1%;
      margin-bottom: 1%;
      padding: 30px;
  }
  #details{
      margin: 1%;
     border-style: solid;
     text-align: center;
     font-size: 20px;
  }
  h2{
      margin: 0px;
      padding: 15px;
      background-color: rgb(53, 52, 52);
      color: white;
  }
  button{
      padding: 2%;
      padding-left: 4%;
      padding-right: 4%;
      margin-left: 2%;
  }
  #proceed{
      margin-left: 40%;
  }
  .row{
    padding-left: 600px;
    margin-top: 100px;
    
}
#ig{
    padding-top: 50px;
    background-image: url(../../assets/road.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
    footer {
      background-color:  #563d7c;
      padding: 10px;
      text-align: center;
      color: white;
    }
    #details{
      margin: 1%;
     border-style: solid;
     text-align: center;
     font-size: 20px;
     background-color: azure;
  }
  .detail{
    padding-right: 100px;
    margin-top: -180px;
    
  }