<div class="ig">

    <div class="options">

        <div id="login-complete">

            <div class="user-functions">
                <div id="header" style="padding-left: 10px;">
                    <span class="header" style="margin-top: 10px;">
                        <a (click)="Logout()"><img src="../../assets/logout.png" width="25" 
                            height="50"></a>
                        <h1 align="center" style="font-family: cursive; color: azure;"
                            style="float: right; margin-right: 700px;">Welcome {{uName}}</h1>
                        <h2 style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Menu</h2>
                    </span>



                </div>
                <div id="mySidenav" class="sidenav">
                    <ul>
                        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                        <li><button class="btn btn-outline-info" (click)="show(1)">Booking History</button></li> <br>
                        <!-- <li><button class="btn btn-outline-info" (click)="show(2)">Booking History</button></li> <br> -->
                        <li><button class="btn btn-outline-info" (click)="show(3)">Profile</button></li> <br>
                        <li><button class="btn btn-outline-info" (click)="show(6)">Cancel</button></li> <br>
                        <!-- <li><button class="btn btn-outline-info" (click)="show(7)">Hire Bus</button></li> <br> -->
                    </ul>

                </div>

                <!-- Use any element to open the sidenav -->
                <div class="main" style="width: 25%; float: left;">
                    <img src="../../assets/user.png" alt="Snow" style="width:100%" height="500px">
                </div>
                <div id="main" style="float: left; width: 75%;">
                    <div class="form1" id="search" style="margin-left: 40px;">
                        <form class="form-inline" style="padding-left: 100px;" [formGroup]="searchForm">
                            <div class="form-group">
                                <select class="form-control col mr-sm-2" formControlName="from">
                                    <option value="" disabled selected hidden>From</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Madurai">Madurai</option>
                                    <option value="Trichy">Trichy</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control col mr-sm-2 " formControlName="to">
                                    <option value="" disabled selected hidden>To</option>
                                    <option value="Madurai">Madurai</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Trichy">Trichy</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control mr-sm-2" type="date" placeholder="" aria-label="Search"
                                    formControlName="date">
                            </div>
                            <button (click)="search()" class="btn btn-primary my-2 my-sm-0" type="submit">Search
                                Buses</button> &nbsp;

                        </form>
                    </div>
                    <div id="choice1" style="margin-top: 60px; display: none; margin-right:70px; width: 1100px;" class="scrollable">
                        <table cellpadding=20 cellspacing=30>
                            <thead>
                                <tr *ngIf="resv.length !=0">

                                    <th>Ticket No</th>
                                    <th>Bus Id</th>
                                    <th>Source</th>
                                    <th>Destination</th>
                                    <!-- <th>Departure Date</th>
                                    <th>Arrival Date</th> -->
                                    <th>Departure Time</th>
                                    <th>Arrival time</th>
                                    <th>No of Seats</th>
                                    <th>Fare</th>
                                    <th>Ticket Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let r of resv">

                                    <td>{{r.ticketNo}}</td>
                                    <td>{{r.bus.id}}</td>
                                    <td>{{r.bus.source}}</td>
                                    <td>{{r.bus.destination}}</td>
                                    <!-- <td>{{r.bus.departureDate| date:short}}</td>
                                    <td>{{r.bus.arrivalDate|  date:short}}</td> -->
                                    <td>{{r.bus.departureTime}}</td>
                                    <td>{{r.bus.arrivalTime}}</td>
                                    <td>{{r.noOfSeats}}</td>
                                    <td>{{r.totalFare}}</td>
                                    <td>
                                    <h5 *ngIf="r.ticketStatus==1">Confirmed
                                        <button (click)="ticket(r.ticketNo)">View Ticket</button>
                                    </h5>
                                        <h5 *ngIf="r.ticketStatus==0">Cancelled</h5>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div id="choice2" style="display: none; margin-top: 70px; margin-right:100px; width: 1100px; "
                        class="scrollable">
                        <table cellpadding=20 cellspacing=30>
                            <thead>
                                <tr *ngIf="resv.length !=0 && bh==true">
                                    <th scope="col">Ticket No</th>
                                    <th scope="col">Bus Id</th>
                                    <th scope="col">Source</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Departure Date</th>
                                    <th scope="col">Arrival Date</th>
                                    <th scope="col">Departure Time</th>
                                    <th scope="col">Arrival time</th>
                                    <th scope="col">No of Seats</th>
                                    <th scope="col">Fare</th>
                                    <th>Ticket Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of resv">

                                    <td *ngIf="r.bus.departureDate<currDate">{{r.ticketNo}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.bus.id}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.bus.source}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.bus.destination}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.bus.departureDate}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.bus.arrivalDate}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.bus.departureTime}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.bus.arrivalTime}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.noOfSeats}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">{{r.totalFare}}</td>
                                    <td *ngIf="r.bus.departureDate<currDate">
                                        <h5 *ngIf="r.ticketStatus==1">Confirmed</h5>
                                        <h5 *ngIf="r.ticketStatus==0">Cancelled</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="choice3" style="margin-top: 70px; margin-right:100px; width: 1100px;"
                        class="scrollable">
                        <table cellpadding=20 cellspacing=30>
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">D.O.B</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr *ngFor='let x of bus'>-->
                                <tr>
                                    <td >{{user.firstName}}</td>
                                    <td >{{user.lastName}}</td>
                                    <td >{{user.dob}}</td>
                                    <td >{{user.emailId}}</td>
                                    <td >{{user.phoneNo}}</td>
                                    <td >{{user.gender}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="choice4" style="display: none; margin-right: 100px;">
                        <form [formGroup]="passForm" (ngSubmit)="onSubmitPass()">
                            <div class="form-group row">
                                <label for="ps1" class="col-sm-2 col-form-label"
                                    style="background-color: cornflowerblue; border-radius: 5px;">Old Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="ps1" placeholder="Password"
                                        formControlName="ps1">
                                    <div *ngIf="submitted && passForm.controls.ps1.errors" class="error">
                                        <div class="text-danger" *ngIf="passForm.controls.ps1.errors.required">Old
                                            Password is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ps2" class="col-sm-2 col-form-label"
                                    style="background-color: cornflowerblue; border-radius: 5px;">New Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="ps2" placeholder="Password"
                                        formControlName="ps2">
                                    <div *ngIf="submitted && passForm.controls.ps2.errors" class="error">
                                        <div class="text-danger" *ngIf="passForm.controls.ps2.errors.required">New
                                            Password is
                                            required</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                <div *ngIf="invalidLogin" class="error">
                                    <div class="text-danger">Invalid credentials.</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="choice5" style="display: none; margin-left: 500px;">
                        <table cellpadding=20 cellspacing=30 class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;">Your Current Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr *ngFor='let x of bus'>-->
                                <tr>
                                    <td>5000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="choice6" style="display: none; margin-right: 300px; width: 900px;">
                        <form [formGroup]="cancelForm" (ngSubmit)="onSubmitCancel()" style="margin-left: 200px;">
                            <fieldset>
                                <div class="form-group row">
                                    <legend><label for="ps1" class="col-sm-2 col-form-label"
                                            style="border-radius: 5px;">Email</label></legend>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="email" placeholder="Email Id"
                                            formControlName="email">
                                    </div>
                                    <div *ngIf="submittedCancel && cancelForm.controls.email.errors" class="error">
                                        <div class="text-danger" *ngIf="cancelForm.controls.email.errors.required">Email
                                            is
                                            required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <legend><label for="ticketNo" class="col-sm-2 col-form-label"
                                            style="border-radius: 5px;">Ticket No</label></legend>
                                    <div class="col-sm-6">
                                        <input type="number" class="form-control" id="ticketNo" placeholder="Ticket No"
                                            formControlName="ticketNo">
                                    </div>
                                    <div *ngIf="submittedCancel && cancelForm.controls.ticketNo.errors" class="error">
                                        <div class="text-danger" *ngIf="cancelForm.controls.ticketNo.errors.required">
                                            Ticket No is
                                            required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary">Cancel
                                            Ticket</button>
                                    </div>
                                    <div *ngIf="invalidCancel" class="error">
                                        <div class="text-danger">Invalid credentials.</div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div id="choice7" style="display: none; margin-left: 50px; margin-right: 300px;">
                        <form [formGroup]="hireBusForm">
                            <fieldset style="padding-left: 30px;">
                                <legend style="font-size: 20px; width: fit-content;">Hire Coach Bus</legend>
                                <div class="form-group row">
                                    <label for="ps1" class="col-sm-2 col-form-label"
                                        style="background-color: cornflowerblue; border-radius: 5px;">Source</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="source" placeholder="Enter Source"
                                            formControlName="source">
                                    </div>
                                    <div
                                        *ngIf="hireBusForm.controls.source.errors && (hireBusForm.controls.source.touched || hireBusForm.controls.source.dirty)">
                                        <div class="text-danger" *ngIf="hireBusForm.controls.source.errors.required">
                                            Source is
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="destination" class="col-sm-2 col-form-label"
                                        style="background-color: cornflowerblue; border-radius: 5px;">Destination</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="destination"
                                            placeholder="Enter Destination" formControlName="destination">
                                    </div>
                                    <div
                                        *ngIf="hireBusForm.controls.destination.errors && (hireBusForm.controls.destination.touched || hireBusForm.controls.destination.dirty) ">
                                        <div class="text-danger"
                                            *ngIf="hireBusForm.controls.destination.errors.required">Destination is
                                            required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="depDate" class="col-sm-2 col-form-label"
                                        style="background-color: cornflowerblue; border-radius: 5px;">Departure
                                        Date</label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" id="depDate" formControlName="depDate">
                                    </div>
                                    <div
                                        *ngIf="hireBusForm.controls.depDate.errors && (hireBusForm.controls.depDate.touched || hireBusForm.controls.depDate.dirty) ">
                                        <div class="text-danger" *ngIf="hireBusForm.controls.depDate.errors.required">
                                            Departure Date is
                                            required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="driverStatus" class="col-sm-2 col-form-label"
                                        style="background-color: cornflowerblue; border-radius: 5px;">Want
                                        Driver?</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" id="driverStatus" formControlName="driverStatus">


                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button (click)="searchHb()" type="submit" class="btn btn-primary">Search
                                            Coach Bus</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>